# Reorgnaizing the files

In [2]:
import numpy as np
import os
import pandas as pd
import cv2
from matplotlib import pyplot as plt

In [3]:
old_path = 'C:/Adrian/Egyetem-Msc/Deep Learning Python es LUA alapon/Project/landmark-recognition-2021/'
train_data = pd.read_csv(old_path + 'train_corrected.csv')
train_data.index = train_data['Unnamed: 0'].values
train_data.drop('Unnamed: 0', axis='columns', inplace=True)
train_data

                       id  landmark_id  label_count  encoded_landmark_id
1081003  9a126324e671e76c       138982         6272                    0
1077888  1a4519d92d84b71f       138982         6272                    0
1077866  1939983af1b00f72       138982         6272                    0
1077867  1941e9371698fc3a       138982         6272                    0
1077868  195159c30049fa4e       138982         6272                    0
...                   ...          ...          ...                  ...
1565685  f2ee16638bbfd38d       201132            2                81311
534382   c58da2095d2e99b2        68046            2                81312
534381   191e534566b0005c        68046            2                81312
1061404  6af494f0455fe2bf       136932            2                81307
362225   a5c5839b8eac4ed2        45923            2                78044

[1580470 rows x 4 columns]

In [4]:
train_data_50 = train_data[train_data['encoded_landmark_id'] < 50]
train_data_50

                       id  landmark_id  label_count  encoded_landmark_id
1081003  9a126324e671e76c       138982         6272                    0
1077888  1a4519d92d84b71f       138982         6272                    0
1077866  1939983af1b00f72       138982         6272                    0
1077867  1941e9371698fc3a       138982         6272                    0
1077868  195159c30049fa4e       138982         6272                    0
...                   ...          ...          ...                  ...
882544   cafffaeda77b3b4f       113838          503                   49
882545   cb32f0be534d445f       113838          503                   49
882546   cb775da15aac8e3e       113838          503                   49
882574   dc5aecfd63ea9dd9       113838          503                   49
882564   d4f638d2a5f7d25e       113838          503                   49

[45077 rows x 4 columns]

In [5]:
# Creating new libraries


# Define the base directory where you want to create the libraries
new_path = "C:\Adrian\Egyetem-Msc\Deep Learning Python es LUA alapon\Project\TOP50_class_data"

# Create 50 libraries in the specified range
for i in range(50):
    library_name = str(i)
    library_path = os.path.join(new_path, library_name)

    # Check if the directory already exists
    if not os.path.exists(library_path):
        # Create the directory
        os.makedirs(library_path)

In [6]:
# Now we grab all the pictures, and make a new home for them in a new directory

for ind, row in train_data_50.iterrows():

    # Reading the new picture
    image_id = row['id']
    file = image_id+'.jpg'
    subpath = '/'.join([char for char in image_id[0:3]]) 
    img = cv2.imread('C:\Adrian\Egyetem-Msc\Deep Learning Python es LUA alapon\Project\landmark-recognition-2021\\train/'+subpath+'/'+file)
    

    # Now we can drop it to its new folder
    output_path = os.path.join(new_path, str(row['encoded_landmark_id']), file)

    # Save the image as a JPEG file
    cv2.imwrite(output_path, img)